node_modules
backend/node_modules
client/node_modules

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
client/dist
client/tmp
client/out-tsc
client/bazel-out
client/node_modules
client.settings/
client/.sass-cache
client/connect.lock
client/coverage
client/libpeerconnection.log